---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div style="text-align:center;">
     
        <div class="archive-tag">
          <div class="stack gap-2">
            <h1 class="title">关于我</h1>
          </div>

          <h2 class="tag-header" style="display: inline-block;">七月.cc</h2>

          <p class="tagline">
            <img
            width="222"
            height="222"
            src="/assets/pikachu-image.png"
            alt="七月.CC"/>
          </p>

          <h3 class="tag-header"style="display: inline-block;">一个学生</h3>
          <h6 class="tag-header"></h6>
        </div>

        <div class="archive-tag">
          <div class="stack gap-2">
            <h1 class="title">关注我</h1>
          </div>
          <h2 class="tag-header"style="display: inline-block;"> <a href="https://github.com/DxytJuly3" target="_blank">Github</a> </h2>
        </div>
     
      </div>
    </div>
  </section>
</BaseLayout>
